@import "button.css";
@import "modal.css";
@import "input.css";
@import "title.css";
*{
    font-family: Verdana, sans-serif;
}

p{
    margin: 0;
}

#app{
    margin: auto;

    width: 100%;
}

@media screen and (min-width: 768px){
    #app{
        width: 600px;
    }
}

@media screen and (min-width: 1144px) {
    #app{
        width: 900px;
    }
}