.button{

    border: 2px solid gray;
    min-width: 80px;
    padding: 6px;
    background-color: transparent;
    border-radius: 3px;

    cursor: pointer;
}

.button.green{
    border-color: rgba(22, 186, 22, 0.48);
    color: rgba(18, 141, 18, 0.97);
}
.button.blue{
    border-color: #3a60a5;
    color: #3a60a5;
}
.button.red{
    border-color: #d73b3b;
    color: #d73b3b;
}
.button.purple{
    border-color: rebeccapurple;
    color: rebeccapurple;
}